.cursor {
    cursor: pointer;
    color: #1b4332;
}

.text-decorator-none {
    text-decoration: none;
}

.navbarcor{
    
}

.appbar {
    height: 7.5vh;
    background-color: #DDE7C7 !important;
}

.toolbar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}