.box1 {
    background-color: #DDE7C7;
    height: 120px;
}

.box2 {
    background-color: #DDE7C7;
    height: 60px;
}

.redes {
    font-size: 60px !important;
    color: #1b4332;
}

.textos {
    color: #1b4332;
}