.caixa {
    background-color: #1b4332;
}

.titulo {
    color: #DDE7C7 !important;
    font-weight: bold !important;
}

.botao {
    border-color: #DDE7C7 !important;
    background-color: hwb(155 8% 61%) !important;
    color: #DDE7C7 !important;
}

.postagens {
    background-color: #DDE7C7;
}